data/results
# all pycache directories
__pycache__
# all pycache files
*.pyc
# all ds store files
.DS_Store

data/matrices_sql.json
data/items_old.json
scripts/data_prep_json.py
scripts/get_sae_percentiles.py
scripts/items_to_human_df.py
data/items.json
data/items_old_.json
data/sae
data/human_data_collection
data/old/human_data_old
data/new_items
data/preprocessed


notes.org

AmbigousARC_acl_2025